---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import EpisodeSearch from "../../components/EpisodeSearchOptimized.astro";
import { generatePageTitle } from "../../utils/pageTitle";

const pageTitle = generatePageTitle("エピソード一覧");
const pageDescription = "ポッドキャスト「ITトリオの日常」のエピソード一覧ページです。";
---

<!doctype html>
<html lang="ja">
  <head>
    <BaseHead title={pageTitle} description={pageDescription} />
    <style>
      main {
        max-width: 960px;

        padding-top: calc(var(--header-height) + var(--page-top-padding));
        padding-right: 16px;
        padding-bottom: 40px;
        padding-left: 16px;

        @media (max-width: 720px) {
          padding-top: calc(var(--header-height-mobile) + var(--page-top-padding));
          padding-right: 16px;
          padding-bottom: 40px;
          padding-left: 16px;
        }
      }
    </style>
    <link href="https://web-player.art19.com/assets/current.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <Header fixed />
    <main>
      <section>
        <EpisodeSearch />
      </section>
    </main>
    <Footer />
  </body>
</html>
