---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import WhatIs from "../components/top/WhatIs.astro";
import Profiles from "../components/top/Profiles.astro";
import AppealEpisodes from "../components/top/AppealEpisodes.astro";
import Hero from "../components/top/Hero.astro";
import Letter from "../components/top/Letter.astro";
---

<!doctype html>
<html lang="ja">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      section {
        max-width: 1020px;
        margin: 32px auto 0;
        padding: 0 16px;

        @media (max-width: 720px) {
          margin: 24px auto 0;
        }
      }
      .no-horizonal-padding {
        padding: 0;
      }
    </style>
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <>
      <Hero />
      <section>
        <WhatIs />
      </section>
      <section class="no-horizonal-padding">
        <Profiles />
      </section>
      <section>
        <AppealEpisodes />
      </section>
      <section>
        <Letter />
      </section>
    </>
    <Footer />
  </body>
</html>
