---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import ListenOn from "../components/ListenOn.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>🧑‍🚀 ITトリオの日常へようこそ 🧑‍🚀</h1>
      <p>
        <a href="https://astro.build/">Astro</a>を使って作ったサイトです。
        とりあえずのデザインでデプロイできるようにしました。
        諸々実装して世に出せるクオリティになったら、カスタムドメインを検討して、SEO対策しつつポッドキャストでも宣伝するつもりです。
        ひとまず、欲しい情報を整理するためだけに、デザイン後回しにして情報を置いていきます。
      </p>
      <ListenOn />
    </main>
    <Footer />
  </body>
</html>
