---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import WhatIs from "../components/top/WhatIs.astro";
import Profiles from "../components/top/Profiles.astro";
import AppealEpisodes from "../components/top/AppealEpisodes.astro";
import Hero from "../components/top/Hero.astro";
---

<!doctype html>
<html lang="ja">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <link
      href="https://web-player.art19.com/assets/current.css"
      media="screen"
      rel="stylesheet"
      type="text/css"
    />
    <style>
      section {
        max-width: 1020px;
        margin: 32px auto 0;
        padding: 0 16px;

        @media (max-width: 720px) {
          margin: 24px auto 0;
        }
      }
    </style>
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <Hero />
      <section>
        <WhatIs />
      </section>
      <section>
        <Profiles />
      </section>
      <section>
        <AppealEpisodes />
      </section>
    </main>
    <Footer />
    <script
      src="https://web-player.art19.com/assets/current.js"
      type="text/javascript"></script>
  </body>
</html>
