---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import WhatIs from "../components/top/WhatIs.astro";
import Profiles from "../components/top/Profiles.astro";
import AppealEpisodes from "../components/top/AppealEpisodes.astro";
import Hero from "../components/top/Hero.astro";
import Letter from "../components/top/Letter.astro";
import FollowMe from "../components/top/FollowMe.astro";
---

<!doctype html>
<html lang="ja">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      section {
        max-width: 1020px;
        margin: 32px auto 0;
        padding: 0 16px;

        @media (max-width: 720px) {
          margin: 24px auto 0;
        }
      }
      .no-horizontal-padding {
        padding: 0;
      }
      .profile-section-container {
        background-color: var(--accent);
      }

      .spacer {
        margin-top: 32px;
      }
    </style>
  </head>
  <body>
    <Header />
    <Hero />
    <section>
      <WhatIs />
    </section>
    <div class="profile-section-container">
      <section class="no-horizontal-padding">
        <Profiles />
      </section>
    </div>
    <section>
      <AppealEpisodes />
    </section>
    <section>
      <Letter />
    </section>
    <section>
      <FollowMe />
    </section>
    <div class="spacer"></div>
    <Footer />
  </body>
</html>
