---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <nav>
    <h2>
      <a href="/">
        <img
          class="logo"
          src="/logo.svg"
          alt={SITE_TITLE}
          width="580"
          height="100"
        />
      </a>
    </h2>
    <div class="internal-links">
      <HeaderLink href="/blog">記事</HeaderLink>
      <HeaderLink href="/episode">エピソード</HeaderLink>
    </div>
    <div></div>
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  .logo {
    display: block;
    width: 200px;
    height: auto;

    @media (max-width: 720px) {
      width: 120px;
    }
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
</style>
