---
import HeaderLink from "./HeaderLink.astro";
import Logo from "./icons/Logo.astro";
---

<header>
  <nav>
    <h2>
      <a class="icon" href="/">
        <Logo name="logo" />
      </a>
    </h2>
    <div class="internal-links">
      <HeaderLink href="/blog">記事</HeaderLink>
      <HeaderLink href="/episode">エピソード</HeaderLink>
    </div>
    <div></div>
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: var(--accent-white);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  .icon {
    display: block;
    width: 200px;
    height: auto;
    color: var(--accent);
    padding: 1rem 0;

    @media (max-width: 720px) {
      width: 120px;
    }
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
</style>
