---
import { Image } from "astro:assets";
import {
  SPOTIFY_SHOW_LINK,
  APPLE_PODCAST_SHOW_LINK,
  AMAZON_MUSIC_SHOW_LINK,
  RSS_FEED_URL,
} from "../consts";
---

<div>
  <ul class="list">
    <li class="item">
      <a href={SPOTIFY_SHOW_LINK} target="_blank">
        <Image class="image" src="/it-trio-web/listen-on-spotify.png" width={660} height={160} alt="Listen on Spotify" />
      </a>
    </li>
    <li class="item">
      <a href={APPLE_PODCAST_SHOW_LINK} target="_blank">
        <Image
          class="image"
          src="/it-trio-web/listen-on-apple-podcast.svg"
          width={129.155}
          height={41}
          alt="Listen on Apple Podcast"
        />
      </a>
    </li>
    <li class="item">
      <a href={AMAZON_MUSIC_SHOW_LINK} target="_blank">
        <Image
          class="image"
          src="/it-trio-web/listen-on-amazon-music.png"
          width={1374}
          height={334}
          alt="Listen on Amazon Music"
        />
      </a>
    </li>
    <li class="item rss">
      <a href={RSS_FEED_URL} target="_blank">
        <Image class="image" src="/it-trio-web/rss.png" width={256} height={256} alt="RSS Feed" />
      </a>
    </li>
  </ul>
</div>

<style>
  .list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
    margin: 0;
    padding: 0;

    @media (max-width: 720px) {
      grid-template-columns: 1fr 1fr;
    }
  }
  .item {
    max-height: 40px;
  }
  .rss {
    display: flex;
    justify-content: center;
  }
  .image {
    height: 100%;
    width: auto;
  }
</style>
