---
import HelloVanJS from "./HelloVanJS.astro";
---

<div class="wrapper">
  <HelloVanJS eventName="VanJS June 2024" status="Open To Work!" />
</div>

<style>
  .wrapper {
    padding: 2rem;
  }
</style>
