---
import ListenOn from "../ListenOn.astro";
import { Image } from "astro:assets";
---

<div class="container">
  <div class="content">
    <p class="appeal">\ 毎週月曜更新! /</p>
    <h1 class="title">
      <Image class="img" src="/logo-channel.svg" width={905} height={100} alt="ITトリオの日常" />
    </h1>
    <p class="explain">3人のエンジニアがカジュアルに学びを深めるポッドキャスト</p>
  </div>
  <div class="listne">
    <ListenOn />
  </div>
</div>

<style>
  .container {
    text-align: center;
    padding: 6rem 4rem;
    background-color: var(--accent);
    opacity: 1;
    background:
      radial-gradient(circle, transparent 20%, var(--accent) 20%, var(--accent) 80%, transparent 80%, transparent),
      radial-gradient(circle, transparent 20%, var(--accent) 20%, var(--accent) 80%, transparent 80%, transparent) 27.5px 27.5px,
      linear-gradient(#ffffff 2.2px, transparent 2.2px) 0 -1.1px,
      linear-gradient(90deg, #ffffff 2.2px, var(--accent) 2.2px) -1.1px 0;
    background-size:
      55px 55px,
      55px 55px,
      27.5px 27.5px,
      27.5px 27.5px;

    @media (max-width: 720px) {
      padding: 32px 12px;
    }
  }
  .content {
    background-color: var(--accent);
    padding: 16px;

    @media (max-width: 720px) {
      padding: 8px;
    }
  }
  .appeal {
    font-size: 0.8rem;
    text-align: right;
    color: var(--accent-white);
    max-width: 1120px;
  }
  .title {
    margin: 8px auto 0;
    max-width: 905px;
    width: 90%;
    height: auto;
    color: var(--accent-white);
    line-height: 1;

    @media (max-width: 720px) {
      margin-top: 2px;
    }

    .img {
      width: 100%;
      height: auto;
    }
  }
  .explain {
    font-size: 1rem;
    margin-top: 24px;
    color: var(--accent-white);
    white-space: normal;

    @media (max-width: 720px) {
      margin-top: 16px;
    }
  }
  .listne {
    margin-top: 48px;

    @media (max-width: 720px) {
      margin-top: 32px;
    }
  }
</style>
