---
import ListenOn from "../ListenOn.astro";
import LogoChannel from "../icons/LogoChannel.astro";
---

<div class="container">
  <p class="appeal">毎週月曜更新!</p>
  <h1 class="title">
    <LogoChannel />
  </h1>
  <p class="explain">
    〜3人のエンジニアがカジュアルに学びを深めるポッドキャスト〜
  </p>
  <div class="listne">
    <ListenOn />
  </div>
</div>

<style>
  .container {
    text-align: center;
    padding: 8rem 4rem;
    background-image: url(/logo-fill-repeat.svg);

    @media (max-width: 720px) {
      padding: 56px 16px;
    }
  }
  .appeal {
    font-size: 0.8rem;
    text-align: right;
    color: var(--accent-white);
    max-width: 1120px;
  }
  .title {
    margin: 8px auto 0;
    max-width: 905px;
    width: 90%;
    height: auto;
    color: var(--accent-white);

    @media (max-width: 720px) {
      margin-top: 2px;
    }
  }
  .explain {
    font-size: 1rem;
    margin-top: 24px;
    color: var(--accent-white);

    @media (max-width: 720px) {
      margin-top: 16px;
    }
  }
  .listne {
    margin-top: 48px;

    @media (max-width: 720px) {
      margin-top: 32px;
    }
  }
</style>
