---
import ogura from "../../images/ogura.jpg";
import cheese from "../../images/cheese.jpg";
import nabe from "../../images/nabe.jpg";
---

<div class="container">
  <div class="content">
    <div id="profile-ogura" class="profile ogura">
      <img class="image" src={ogura.src} alt="おぐらくんの似顔絵" />
      <p class="name">おぐらくん</p>
      <p class="explain">
        カナダにいる。
        エンジニア歴はアルバイトを入れると7年くらいで、2024年にカナダへ移住して、海外就職にチャレンジ中。
        番組の編集や更新、スケジュール調整など、色々やっている。
      </p>
    </div>
    <div id="profile-cheese" class="profile cheese">
      <img class="image" src={cheese.src} alt="ちーずの似顔絵" />
      <p class="name">ちーず</p>
      <p class="explain">
        名古屋にいる。
        元デザイナーで、某お金関係の会社でフロントエンジニアをやっている。
        人気者なので、カレンダーのすべてが予定で埋まりがち。
        今年の抱負は「#丁寧な暮らし」
      </p>
    </div>
    <div id="profile-nabe" class="profile nabe">
      <img class="image" src={nabe.src} alt="なべちゃんの似顔絵" />
      <p class="name">なべちゃん</p>
      <p class="explain">
        愛知にいる。
        フルスタックエンジニアとして働きつつ、最近はマネージャー業もしていて色々大変そう。
        動画投稿が趣味でYouTubeを頑張っている。 最近はゲーム実況も始めた。
      </p>
    </div>
  </div>
</div>

<style>
  .container {
  }
  .trio {
    padding: 1rem 1rem;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    font-size: 1.8rem;
    /* color: var(--accent-white);
    background-color: var(--accent); */
  }
  .content {
    display: grid;
    border-radius: 4px;
    overflow: hidden;
    grid-template-columns: 1fr 1fr 1fr;

    @media (max-width: 720px) {
      grid-template-columns: 1fr;
    }
  }
  .profile {
    text-align: center;
    padding: 8px 16px 16px;
    opacity: 0;
    transform: translateX(24px);
  }
  .profileFadeIn {
    opacity: 1;
    transform: translateX(0);
    transition:
      opacity 0.6s ease,
      delay 0.3s,
      transform 0.6s ease;
  }
  .ogura {
    background-color: var(--ogura);
  }
  .cheese {
    background-color: var(--cheese);
  }
  .nabe {
    background-color: var(--nabe);
  }

  .image {
    width: 180px;
    height: 180px;
    border-radius: 100%;
  }
  .name {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
  }
  .explain {
    font-size: 14px;
    text-align: left;
    white-space: pre-line;
  }
</style>

<script>
  const observerCreateor = (delay: number) => {
    return new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            if (window.innerWidth > 720) {
              setTimeout(() => {
                entry.target.classList.add("profileFadeIn");
              }, delay);
            } else {
              entry.target.classList.add("profileFadeIn");
            }
          }
        });
      },
      {
        root: null,
        rootMargin: "0px",
        threshold: 0.3,
      },
    );
  };
  const observerOgu = observerCreateor(0);
  const observerChe = observerCreateor(100);
  const observerNab = observerCreateor(200);
  observerOgu.observe(document.getElementById("profile-ogura")!);
  observerChe.observe(document.getElementById("profile-cheese")!);
  observerNab.observe(document.getElementById("profile-nabe")!);
</script>
