---
import ogura from "../../images/ogura.jpg";
import cheese from "../../images/cheese.jpg";
import nabe from "../../images/nabe.jpg";
---

<div class="container">
  <h2 class="trio">パーソナリティー</h2>
  <div class="content">
    <div class="profile ogura">
      <img class="image" src={ogura.src} alt="おぐらくんの似顔絵" />
      <p class="name">おぐらくん</p>
      <p class="explain">
        カナダにいる。
        エンジニア歴はアルバイトを入れると7年くらいで、色々考えた結果バンクーバーに移住して就職することにした。
        ビザの関係で学校に通っているので、最近はあんまり働いていない。
        ITトリオの日常の編集から更新まで、色々やっている。
      </p>
    </div>
    <div class="profile cheese">
      <img class="image" src={cheese.src} alt="ちーずの似顔絵" />
      <p class="name">ちーず</p>
      <p class="explain">
        名古屋にいる。
        元デザイナーで、某お金関係の会社でフロントエンジニアをやっている。
        人気者なので、カレンダーのすべてが予定で埋まりがち。
        今年の抱負は「#丁寧な暮らし」
      </p>
    </div>
    <div class="profile nabe">
      <img class="image" src={nabe.src} alt="なべちゃんの似顔絵" />
      <p class="name">なべちゃん</p>
      <p class="explain">
        愛知にいる。
        フルスタックエンジニアとして働いていていて、最近はマネージャー業もしていおり、色々大変そう。
        動画投稿が趣味で、YouTubeを頑張っていて、最近はゲーム実況も始めた。
      </p>
    </div>
  </div>
</div>

<style>
  .container {
  }
  .trio {
    padding: 1rem 1rem;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    font-size: 1.8rem;
    color: var(--accent-white);
    background-color: var(--accent);
  }
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    @media (max-width: 720px) {
      grid-template-columns: 1fr;
    }
  }
  .profile {
    text-align: center;
    padding: 8px 16px 16px;
  }
  .ogura {
    background-color: #b9e9e8;
  }
  .cheese {
    background-color: #eaddb8;
  }
  .nabe {
    background-color: #e8b8b9;
  }

  .image {
    width: 180px;
    height: 180px;
    border-radius: 100%;
  }
  .name {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
  }
  .explain {
    font-size: 14px;
    text-align: left;
  }
</style>
