---
import LogoChannel from "../icons/LogoChannel.astro";
---

<div>
  <p>
    <div class="icon">
      <LogoChannel />
    </div>
    は、3人のエンジニアが雑談ミーティングをするポッドキャスト番組です。 カジュアルに学びを深めたり、共感したり、楽しんだり、ラジバンダリー。
    日本とカナダを繋いで頑張っています。 日本時間の毎週月曜日に新しいエピソードを公開しています。
    たまにゲストをお招きしています。 たまに一人で喋っています。 でも基本的には3人で喋っています。
  </p>
</div>

<style>
  .logo {
    width: 200px;
    height: auto;
  }
  .icon {
    display: inline-block;
    width: 200px;
    height: auto;
    margin-right: 4px;
    color: var(--accent);
  }
</style>
