<svg viewBox="0 0 905 100" fill="none" xmlns="http://www.w3.org/2000/svg">
  <title>ITトリオの日常</title>
  <rect x="115" width="100" height="40" rx="2" fill="currentColor"></rect>
  <path d="M145 39H185V98C185 99.1046 184.105 100 183 100H147C145.895 100 145 99.1046 145 98V39Z" fill="currentColor"></path>
  <path d="M269 30H328C329.105 30 330 30.8954 330 32V68C330 69.1046 329.105 70 328 70H269V30Z" fill="currentColor"></path>
  <rect x="230" width="40" height="100" rx="2" fill="currentColor"></rect>
  <rect x="345" width="40" height="70" rx="2" fill="currentColor"></rect>
  <rect x="405" width="40" height="100" rx="2" fill="currentColor"></rect>
  <rect x="520" width="30" height="100" rx="2" fill="currentColor"></rect>
  <path d="M460 12C460 10.8954 460.895 10 462 10H558C559.105 10 560 10.8954 560 12V38C560 39.1046 559.105 40 558 40H462C460.895 40 460 39.1046 460 38V12Z" fill="currentColor"></path>
  <path d="M508.87 30.4142C509.651 29.6332 510.917 29.6332 511.698 30.4142L530.083 48.799C530.864 49.58 530.864 50.8464 530.083 51.6274L483.414 98.2965C482.633 99.0775 481.367 99.0775 480.586 98.2965L462.201 79.9117C461.42 79.1306 461.42 77.8643 462.201 77.0833L508.87 30.4142Z" fill="currentColor"></path>
  <rect x="645" width="30" height="100" rx="2" fill="currentColor"></rect>
  <path d="M575 2C575 0.89543 575.895 0 577 0H673C674.105 0 675 0.895431 675 2V30H575V2Z" fill="currentColor"></path>
  <rect x="610" y="29" width="24" height="42" fill="currentColor"></rect>
  <path d="M575 98C575 99.1046 575.895 100 577 100H632C633.105 100 634 99.1046 634 98V70H575V98Z" fill="currentColor"></path>
  <rect x="575" y="29" width="24" height="42" fill="currentColor"></rect>
  <rect x="760" y="23" width="30" height="54" fill="currentColor"></rect>
  <path d="M690 98C690 99.1046 690.895 100 692 100H788C789.105 100 790 99.1046 790 98V76H690V98Z" fill="currentColor"></path>
  <path d="M690 24H790V2C790 0.89543 789.105 0 788 0H692C690.895 0 690 0.895431 690 2V24Z" fill="currentColor"></path>
  <rect x="690" y="23" width="30" height="54" fill="currentColor"></rect>
  <path d="M719 38H761V62H719V38Z" fill="currentColor"></path>
  <path d="M820 2C820 0.89543 820.895 0 822 0H834C835.105 0 836 0.895431 836 2V8C836 9.10457 835.105 10 834 10H822C820.895 10 820 9.10457 820 8V2Z" fill="currentColor"></path>
  <path d="M830 43H847V49H830V43Z" fill="currentColor"></path>
  <path d="M864 43H880V49H864V43Z" fill="currentColor"></path>
  <path d="M874 2C874 0.89543 874.895 0 876 0H888C889.105 0 890 0.895431 890 2V8C890 9.10457 889.105 10 888 10H876C874.895 10 874 9.10457 874 8V2Z" fill="currentColor"></path>
  <path d="M844 57H866V63H844V57Z" fill="currentColor"></path>
  <path d="M805 14C805 12.8954 805.895 12 807 12H903C904.105 12 905 12.8954 905 14V30H805V14Z" fill="currentColor"></path>
  <path d="M805 29H825V42C825 43.1046 824.105 44 823 44H807C805.895 44 805 43.1046 805 42V29Z" fill="currentColor"></path>
  <path d="M830 36C830 34.8954 830.895 34 832 34H878C879.105 34 880 34.8954 880 36V44H830V36Z" fill="currentColor"></path>
  <path d="M830 48H880V56C880 57.1046 879.105 58 878 58H832C830.895 58 830 57.1046 830 56V48Z" fill="currentColor"></path>
  <path d="M805 64C805 62.8954 805.895 62 807 62H903C904.105 62 905 62.8954 905 64V80H805V64Z" fill="currentColor"></path>
  <path d="M805 79H827V98C827 99.1046 826.105 100 825 100H807C805.895 100 805 99.1046 805 98V79Z" fill="currentColor"></path>
  <path d="M883 79H905V98C905 99.1046 904.105 100 903 100H885C883.895 100 883 99.1046 883 98V79Z" fill="currentColor"></path>
  <path d="M844 79H866V98C866 99.1046 865.105 100 864 100H846C844.895 100 844 99.1046 844 98V79Z" fill="currentColor"></path>
  <path d="M885 29H905V42C905 43.1046 904.105 44 903 44H887C885.895 44 885 43.1046 885 42V29Z" fill="currentColor"></path>
  <path d="M846 2C846 0.89543 846.895 0 848 0H862C863.105 0 864 0.895431 864 2V13H846V2Z" fill="currentColor"></path>
  <rect width="100" height="30" rx="2" fill="currentColor"></rect>
  <rect y="70" width="100" height="30" rx="2" fill="currentColor"></rect>
  <rect x="30" y="28" width="40" height="43" fill="currentColor"></rect>
</svg>
